/* @override http://localhost/~jonathan/webact2/css/viewer.css */

.wa_image_viewer {
    position: absolute;
    overflow: hidden;
}

.wa_image_selector {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #00A;
}

.wa_image_controls {
    position: absolute;
    width: 200px;
    height: 205px;
    left: 310px;
    top: 380px;
    background-color: white;
    border: 1px solid #999;
}

.wa_image_navigator {
    position: absolute;
    width: 150px;
    overflow: auto;
    margin: 0;
    padding: 0;
    left: 5px;
    top: 5px;
    overflow: hidden;
    border: 1px dotted #818181;
}

.wa_image_thumbnail {
    position: relative;
    width: 150px;
    margin: 0;
    padding: 0;
}

.wa_image_indicator {
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px outset red;
}

.wa_image_slider {
    position: absolute;
    right: 15px;
    top: 90px;
}

.wa_image_buttons {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
}

.wa_image_buttons a {
    width: 22px;
    height: 22px;
}


